@model IEnumerable<ClientesModel>
@{
    ViewData["Title"] = "Adicionar Cliente";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/inputmask.min.js"></script>

<style>
    #pessoaFisicaFields {
        display: none;
    }

    #tipoPessoaFisica:checked ~ #pessoaFisicaFields {
        display: block;
    }
</style>
<div class="container">
    <h2>Adicionar Cliente</h2>

    <form id="filterForm">

        <div class="form-group">
            <label for="nome">Nome do Cliente/Razão Social:</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome ou razão social" required
                   data-toggle="Nome completo ou Razão Social do Cliente">
        </div>
        <div class="form-group">
            <label for="email">E-Mail:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Digite o e-mail" required
                   data-toggle="tooltip" title="E-mail do Cliente">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Digite o telefone" required
                   data-toggle="tooltip" title="Telefone do Cliente" data-inputmask="'mask': '(99) 9999-9999'" maxlength="10">
        </div>
        <div class="form-group">
            <label>Data de Cadastro:</label>
            <input type="text" class="form-control" disabled value="@DateTime.Now.ToShortDateString()">
        </div>

        <div class="form-group">
            <label for="tipoPessoa">Tipo de Pessoa:</label>
            <select class="form-control" id="tipoPessoa" name="tipoPessoa"  data-toggle="tooltip" title="Selecione o tipo de Pessoa" required>
                <option value="">Selecione...</option>
                <option value="Física">Física</option>
                <option value="Jurídica">Jurídica</option>
            </select>
        </div>
        <div id="pessoaFisicaFields" style="display: none;" >
            <div class="form-group">
                <label for="genero">Gênero:</label>
                <select class="form-control" id="genero" name="genero" data-toggle="tooltip" title="Selecione o gênero do Cliente">
                    <option value="">Selecione...</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Outro">Outro</option>
                </select>

            </div>
            <div class="form-group">
                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="date" class="form-control" id="dataNascimento" name="dataNascimento">
            </div>
        </div>
        <div class="form-group">
            <label for="cpfCnpj">CPF/CNPJ:</label>
            <input type="text" class="form-control" id="cpfCnpj"  name="cpfCnpj" placeholder="Digite o CPF ou CNPJ" required
                   data-toggle="tooltip" title="Insira o CPF ou o CNPJ do Cliente" maxlength="15">
        </div>
        <div class="form-group">
            <label for="inscricaoEstadual">Inscrição Estadual:</label>
            <input type="text" class="form-control" id="inscricaoEstadual" name="inscricaoEstadual" placeholder="Digite a Inscrição Estadual"
                   data-toggle="tooltip" title="Inscrição Estadual do Cliente, selecionar Isento caso assim for." maxlength="10">

        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isento" name="isento" onchange="habilitarInscricaoEstadual()">
            <label class="form-check-label icon" for="isento">Isento</label>
        </div>


        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="bloqueado" name="bloqueado">
            <label class="form-check-label icon" for="bloqueado">Bloqueado</label>
        </div>


        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite a senha" required>
        </div>
        <div class="form-group">
            <label for="confirmacaoSenha">Confirmação de Senha:</label>
            <input type="password" class="form-control" id="confirmacaoSenha" name="confirmacaoSenha" placeholder="Confirme a senha" required>
            <div id="senhaHelp" class="invalid-feedback">As senhas não conferem</div>
        </div>


        <div>
            <div class="button-container">
                <button onclick="filtrar()" class="btn btn-primary" id="btnAdicionarCliente">Adicionar Cliente</button>
            </div>
        </div>
    </form>
</div>
</hr>
<div>
    <a asp-action="Home/Index" class="btn btn-secondary voltar">Voltar</a>
</div>

<script>
    $(document).ready(function () {
        $('#tipoPessoa').change(function () {
            var tipoPessoa = $(this).val();
            if (tipoPessoa === 'Física') {
                $('#cpfCnpj').inputmask('999.999.999-99');
            } else if (tipoPessoa === 'Jurídica') {
                $('#cpfCnpj').inputmask('99.999.999/9999-99');
            }
        });
    });

    $(document).ready(function () {
        $('#tipoPessoa').change(function () {
            var tipoPessoa = $(this).val();
            if (tipoPessoa === 'Física') {
                $('#pessoaFisicaFields').show();
            } else {
                $('#pessoaFisicaFields').hide();
            }
        });
    });
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $("#tipoPessoa").on("change", function () {
            var tipoPessoa = $(this).val();
            mostrarCamposPessoaFisica(tipoPessoa);
        });

        var btnAdicionarCliente = document.getElementById("btnAdicionarCliente");
        btnAdicionarCliente.addEventListener("click", validarCampos);

        function mostrarCamposPessoaFisica(tipoPessoa) {
            if (tipoPessoa === "Física") {
                $("#pessoaFisicaFields").show();
            } else {
                $("#pessoaFisicaFields").hide();
            }
        }

        function validarCampos() {
            var nome = $("#nome").val().trim();
            var email = $("#email").val().trim();
            var telefone = $("#telefone").val().trim();
            var tipoPessoa = $("#tipoPessoa").val().trim();
            var cpfCnpj = $("#cpfCnpj").val().trim();
            var senha = $("#senha").val().trim();
            var confirmacaoSenha = $("#confirmacaoSenha").val().trim();

            if (nome === "" || email === "" || telefone === "" || tipoPessoa === "" || cpfCnpj === "" || senha === "" || confirmacaoSenha === "") {
                alert("Por favor, preencha todos os campos obrigatórios.");
                return false;
            }
            if (senha !== confirmacaoSenha) {
                $("#senhaHelp").show();
                return false;
            }
        }
    });

    function filtrar() {
        validarCampos()
        $('#filterForm').submit(function (event) {
            event.preventDefault();

            var formData = $(this).serialize();
            console.log(formData);

            $.ajax({
                url: '@Url.Action("Index", "Cliente")',
                type: 'POST',
                contentType: 'application/json',
                data: formData,
                success: function (response) {
                    if (response.redirectUrl) {
                        alert('Cliente adicionado com sucesso!');
                        window.location.href = response.redirectUrl;
                    } else {
                        alert(response);
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    alert('Ocorreu um erro ao adicionar o cliente.');
                }
            });
        });
    }
    
 </script>

