@model IEnumerable<ClientesModel>
@{
    ViewData["Title"] = "Atualizar Cliente";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/inputmask.min.js"></script>


<div class="container">
    <h2>Adicionar Cliente</h2>

    <form id="Form" method="post" asp-action="UpdateCliente" asp-controller="Cliente">
        <input type="hidden" id="idCliente" name="idCliente" value="@ViewBag.ClienteId" />

        <div class="form-group">
            <label for="nome">Nome do Cliente/Razão Social:</label>
            <input type="text" class="form-control" id="nome" placeholder="Digite o nome ou razão social" required
                   data-toggle="Nome completo ou Razão Social do Cliente">
        </div>
        <div class="form-group">
            <label for="email">E-Mail:</label>
            <input type="email" class="form-control" id="email" placeholder="Digite o e-mail" required
                   data-toggle="tooltip" title="E-mail do Cliente">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input type="tel" class="form-control" id="telefone" placeholder="Digite o telefone" required
                   data-toggle="tooltip" title="Telefone do Cliente">
        </div>
        <div class="form-group">
            <label>Data de Cadastro:</label>
            <input type="text" class="form-control" disabled value="@DateTime.Now.ToShortDateString()">
        </div>

        <div class="form-group">
            <label for="tipoPessoa">Tipo de Pessoa:</label>
            <select class="form-control" id="tipoPessoa" data-toggle="tooltip" title="Selecione o tipo de Pessoa"
                    onchange="mostrarCamposPessoaFisica(this.value)" required>
                <option value="">Selecione...</option>
                <option value="Física">Física</option>
                <option value="Jurídica">Jurídica</option>
            </select>
        </div>
        <div id="pessoaFisicaFields" style="display: none;">
            <div class="form-group">
                <label for="genero">Gênero:</label>
                <select class="form-control" id="genero" data-toggle="tooltip" title="Selecione o gênero do Cliente">
                    <option value="">Selecione...</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Outro">Outro</option>
                </select>

            </div>
            <div class="form-group">
                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="date" class="form-control" id="dataNascimento">
            </div>
        </div>
        <div class="form-group">
            <label for="cpfCnpj">CPF/CNPJ:</label>
            <input type="text" class="form-control" id="cpfCnpj" placeholder="Digite o CPF ou CNPJ" required
                   data-toggle="tooltip" title="Insira o CPF ou o CNPJ do Cliente">
        </div>
        <div class="form-group">
            <label for="inscricaoEstadual">Inscrição Estadual:</label>
            <input type="text" class="form-control" id="inscricaoEstadual" placeholder="Digite a Inscrição Estadual"
                   data-toggle="tooltip" title="Inscrição Estadual do Cliente, selecionar Isento caso assim for.">

        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="isento" onchange="habilitarInscricaoEstadual()">
            <label class="form-check-label icon" for="isento">Isento</label>
        </div>


        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="bloqueado">
            <label class="form-check-label icon" for="bloqueado">Bloqueado</label>
        </div>


        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="senha" placeholder="Digite a senha" required>
        </div>
        <div class="form-group">
            <label for="confirmacaoSenha">Confirmação de Senha:</label>
            <input type="password" class="form-control" id="confirmacaoSenha" placeholder="Confirme a senha" required>
            <div id="senhaHelp" class="invalid-feedback">As senhas não conferem</div>
        </div>


        <div class="row mt-3">
            <div class="button-container">
                <button type="button" type="submit" class="btn btn-primary" onclick="validarCampos()">Atualizar Cliente</button>
                <button type="button" class="btn btn-secondary" onclick="voltar()">Voltar</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });


    function mostrarCamposPessoaFisica(tipoPessoa) {
        var pessoaFisicaFields = document.getElementById("pessoaFisicaFields");
        if (tipoPessoa === "Física") {
            pessoaFisicaFields.style.display = "block";
        } else {
            pessoaFisicaFields.style.display = "none";
        }
    }

    function habilitarInscricaoEstadual() {
        var inscricaoEstadualInput = document.getElementById("inscricaoEstadual");
        var isentoCheckbox = document.getElementById("isento");
        if (isentoCheckbox.checked) {
            inscricaoEstadualInput.disabled = true;
        } else {
            inscricaoEstadualInput.disabled = false;
        }
    }

    function validarCampos() {
        var nome = document.getElementById("nome").value;
        var email = document.getElementById("email").value;
        var telefone = document.getElementById("telefone").value;
        var tipoPessoa = document.getElementById("tipoPessoa").value;
        var cpfCnpj = document.getElementById("cpfCnpj").value;
        var senha = document.getElementById("senha").value;
        var confirmacaoSenha = document.getElementById("confirmacaoSenha").value;

        if (nome.trim() === "" || email.trim() === "" || telefone.trim() === "" || tipoPessoa.trim() === "" || cpfCnpj.trim() === "" || senha.trim() === "" || confirmacaoSenha.trim() === "") {
            alert("Por favor, preencha todos os campos obrigatórios.");
            return false;
        }
        if (senha !== confirmacaoSenha) {
            document.getElementById("senhaHelp").style.display = "block";
            return false;
        }
        enviarDados();
    }

    function enviarDados() {
        var nome = $('#nome').val();
        var email = $('#email').val();
        var telefone = $('#telefone').val();
        var tipoPessoa = $('#tipoPessoa').val();
        var cpfCnpj = $('#cpfCnpj').val();
        var senha = $('#senha').val();
        var confirmacaoSenha = $('#confirmacaoSenha').val();
        var bloqueado = $('#bloqueado').is(':checked');
        var dataNascimento = $('#dataNascimento').val();
        var genero = $('#genero').val();
        var inscricaoEstadual = $('#inscricaoEstadual').val();


        var clienteData = {
            Nome: nome,
            Email: email,
            Telefone: telefone,
            TipoPessoa: tipoPessoa,
            CpfCnpj: cpfCnpj,
            Senha: senha,
            ConfirmacaoSenha: confirmacaoSenha,
            Bloqueado: bloqueado,
            DataNascimento: dataNascimento,
            Genero: genero,
            InscricaoEstadual: inscricaoEstadual
        };

        $.ajax({
            url: '@Url.Action("Update", "Cliente")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(clienteData),
            success: function (response) {
                if (response.redirectUrl) {
                    alert('Cliente Atualizado com sucesso!');
                    window.location.href = response.redirectUrl;
                } else {
                    alert(response);
                }
            }
                error: function (xhr, status, error) {
                console.log(error);
                alert('Ocorreu um erro ao atualizar o cliente.');
            }
        });
    }
</script>

